.transModal {
  :global(.ant-modal-content) {
    width: 700px !important;
  }

  :global(.ant-modal-body) {
    width: 650px !important;
  }

  :global(.ant-modal-footer) {
    padding: 15px 0 !important;
  }

  :global(.ant-modal-header) {
    padding: 35px 0 !important;
  }
}

.transInfoMain {
  color: #fff;
  font-size: 15px;
  // background-color: #123456;
  font-weight: 500;

  .tableRow {
    line-height: 50px;
    padding: 0 15px;
    height: 50px;
  }

  .tableRow:nth-of-type(odd) {
    background-color: #162240;
    border-radius: 5px;
  }
}