.cell-title {
    font-size  : 18px;
    font-weight: bold;
    color      : rgba(255, 255, 255, 1);
    line-height: 23px;
    margin     : 16px 0px 0px 0px;
}

.cell-title-ends {
    font-size  : 14px;
    font-weight: bold;
    color      : rgba(255, 255, 255, 1);
    line-height: 23px;
    margin     : 16px 0px 0px 0px;
}

.cell-bottom {
    font-size  : 12px;
    font-weight: 400;
    color      : rgba(255, 255, 255, 1);
    line-height: 23px;
    opacity    : 0.6;
    margin     : 0 0 8px;
}

.validator .name {
    font-size  : 16px;
    font-weight: bold;
    color      : rgba(255, 255, 255, 1);
    line-height: 23px;
    margin     : 10px;
}

.validator img {
    width : 40px;
    height: 40px;
}

.avatarSty {
    margin-right: 5px !important;
}