# Logs
logs
*.log

# docs
docs
out

# webpack bundle dir
dist

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# node-waf configuration
.lock-wscript

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Mac OSX
.DS_Store

# App packaged
.vscode
.idea
npm-debug.log.*
