# Logs
logs
*.log

# docs
docs
out

# electron package dir
/dist
/build

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# node-waf configuration
.lock-script

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Mac OSX
.DS_Store

# App packaged
.vscode
.idea
npm-debug.log.*
package-lock.json
yarn.lock

# Node environment
.env

# Backup file
*.bak