.stepOne {
  font-size: 20px;
  color: #fff;
  padding-bottom: 15px;
}

.colorInputAddr {
  margin-top: 25px;
  width: 60%;
  padding-left: 2%;
  margin-right: 2%;
}

.offlineStep {
  margin: 20px;
  padding: 10px;

  .ant-statistic {
    width: 70%;
    margin: 10px;
    text-align: center;
    border-radius: 5%;
    background: rgba(255, 255, 255, 0.1)
  }

  .ant-statistic-title {
    color: #fff;
    font-size: 20px;
  }

  .stepInfo {
    padding: 10px 0 15px 20px;
  }

  .stepTitle{
    padding: 20px 0 10px 20px;
    font-weight: bold;
    font-size: 15px;
  }
  
  .stepText {
    border: 1px solid #1A1B2C;
    margin-left: 20px;
    background: #303147 !important;
    color:#ddd !important;
  }
}

.colorInputAddr {
  background: #303147 !important;
}

.threeBtn {
  padding: 20px;
}

.getInfoBtn {
  border-radius: 35px;
}

.inlineBlock {
  display: inline;
  margin-left: 10px;
}

.borderSty {
  background: rgba(255, 255, 255, 0.1)
}
