@Transaction-click-color: #40DABF;
.onAdvancedT{
    text-align: right;
    cursor: pointer;
    color: @Transaction-click-color;
    font-size: 16px;
}

.ant-spin-nested-loading > div > .ant-spin {
  position: absolute!important;
}

.ant-spin-blur::after {
  opacity: 0;
}

.ant-spin-text {
  font-size: 20px;
  padding: 13px 0 0 11px;
}

.transForm {
  .ant-select-selection {
    width: 480px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    color: #FFFFFF !important;
    background: #1F2034 !important;
  }
  .ant-select-selection:focus {
    border-right-width: 1px !important;
    outline: 0;
  }
}

.splitAmountTable {
  .ant-table-thead>tr {
    height: 55px;
  }

  .ant-table-tbody>tr {
    height: 40px;
  }
}