.container {

  .nav-left {
    color: #fff;
    height: calc(100vh);
    background-color: #001529;
  }

  .main {
    height: calc(100vh);
  }

  .content {
    position: relative;
    padding: 20px;
  }
}