  @modal-input-bg: #1F2034;

  .textc {
    color: black;
    font-size: 50px;

    .pwdTitle {
      font-size: 16px;
      font-weight: 900;
      color: white;
      text-align: left;
      padding: 20px 0 0 153px;

      .anticon-info-circle {
        display: initial!important;
      }
    }

    input {
      margin-bottom: 0!important;
    }
  }

  .zContent .registerContent {
    position: relative;
  }