html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, small, strong, dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
em, strong, i {
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
body {
  line-height: 1;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  color: #333;
  background-color: #fff;
}
ul, ol {
  list-style: none;
}
a {
  display: block;
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #31c27c;
}
input, button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}
img {
  vertical-align: top;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color:#fff;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}