@sidebar-right-bg: linear-gradient(90deg,#4e5cf4 0%,#272d68 100%)!important;
@sidebar-right-hover-bg: #2E3657;
@sidebar-width: 230px;
.sidebar {
  width: @sidebar-width;
  height: calc(100vh);
  overflow-y: scroll;
  .logo {
    height: 100px;
    padding: 28px 0 0 30px;
    position: relative;
    vertical-align: -webkit-baseline-middle;
    img {
      height: 48px;
    }
  }
  .menuTreeNode {
    color: #A1A2A8;
    padding: 0px 15px;
  }
  .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
    height: 60px!important;
    line-height: 60px!important;
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title{
    font-size: 16px;
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title{
    // width: 96%;
    // margin: 0 2% 0 2%;
  }
  .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    // width: 96%;
    // margin: 0 2% 0 2%;
    background: @sidebar-right-bg;
  }
  .ant-menu-item:hover{
    background: @sidebar-right-hover-bg;
  }
  .ant-menu-item{
    height: 60px!important;
    line-height: 60px!important;
    border-radius:6px!important;
  }
  .ant-menu-inline-collapsed {
    width: 120px;
    >li {
      text-align: center;
    }
  }
}
.nav-left.nav-collapsed {
  .sidebar {
    display: none;
  }
  .collapseItem {
    left: 0px;
    background-color: #1A1B2C;
    img {
      left: -1px;
    }
  }
}
.main.nav-collapsed {
  margin-left: 20px;
}
.collapseItem {
  width: 20px;
  height: calc(100vh);
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 1;

  .collapseButton {
    display: inline-block;
    width: 18px;
    height: 60px;
    font-weight: bold;
    position: relative;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
.com-circle{
  width:5px;
  height:5px;
  background:rgba(255, 255, 255, 0.65);
  border-radius:50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub{
  box-shadow: none;
}