/* @font-face {
    font-family: 'Roboto-Regular';
    src: url('../../static/font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../static/font/Roboto-Bold.ttf');
} */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: rgba(39, 40, 64, 1) !important;
    opacity: 0.95;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto-Regular';
}

#main-container {
    margin: auto;
    background-color: #272840;
    width: 840px;
    border-radius: 6px;
    padding: 50px 0px;
    opacity: 0.95;
    text-align: center;
    position: relative;
    top: 30%;
    z-index: 1;
}

#head {
    font-size: 24px;
    font-family: 'Roboto-Bold';
    color: rgba(255, 255, 255, 1);
    line-height: 32px;
    margin: 0px;
}

#buttons button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-top: 50px;
    padding: 0px;
    font-size: 18px;
    color: white;
    font-family: 'Roboto-Regular';
}

#buttons button:focus {
    border: 2px solid #414EDD;
}

#buttons button:focus {
    outline: none;
}

#yes {
    background: linear-gradient(90deg, rgba(65, 78, 221, 1) 0%, rgba(41, 48, 124, 1) 100%);
    margin-left: 6px;
}

#no {
    background: linear-gradient(90deg, rgba(74, 76, 114, 1) 0%, rgba(61, 62, 95, 1) 100%);
    margin-right: 6px;
}

#mask {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.icon-loading {
    font-size: 24px;
    width: 48px;
    height: 48px;
    position: relative;
    top: calc(50% - 24px);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.loading-spin {
    width: 2em;
    height: 2em;
    fill: white;
    animation: spin 1s infinite linear;
}