/* @font-face {
    font-family: 'Roboto-Regular';
    src: url('../../static/font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../static/font/Roboto-Bold.ttf');
} */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: rgba(39, 40, 64, 1) !important;
    opacity: 0.95;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto-Bold';
}

#main-container {
    position: relative;
    top: 15%;
}

p {
    margin: 0px;
}

#head {
    font-size: 24px;
    margin-bottom: 40px;
}

#rocket {
    width: 80px;
}

#newVersion {
    margin: 20px 0px;
    font-size: 18px;
}

#version {
    font-size: 14px;
    font-family: 'Roboto-Regular';
}

#release {
    display: inline-block;
    margin: 40px 0px 15px 0px;
    font-size: 14px;
    width: 600px;
    text-align: left;
}

#info {
    display: inline-block;
    background: rgba(31, 32, 52, 1);
    font-family: 'Roboto-Regular';
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
    width: 600px;
    text-align: left;
    padding: 20px;
}

#buttons {
    margin-top: 44px;
}

#buttons button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#no {
    background: linear-gradient(90deg, rgba(74, 76, 114, 1) 0%, rgba(61, 62, 95, 1) 100%);
    opacity: 0.95;
    margin-right: 10px;
}

#upgrade {
    background: linear-gradient(90deg, rgba(65, 78, 221, 1) 0%, rgba(41, 48, 124, 1) 100%);
}

#mask {
    display: none;
    width: 100%;
    height: 100%;
    /* background: rgba(255,255,255,0.3); */
    background: rgb(99, 100, 117);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    text-align: center;
}

.icon-loading {
    font-size: 24px;
    width: 48px;
    height: 48px;
    position: relative;
    top: calc(50% - 24px);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.loading-spin {
    width: 2em;
    height: 2em;
    fill: white;
    animation: spin 1s infinite linear;
}

#mask-container {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 45%;
    padding: 0px 10%;
    text-align: left;
}

#downloading {
    text-align: center;
}

#loading-outer {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin-right: -4em;
    padding-right: 4em;
}

#loading-bar {
    display: inline-block;
    box-sizing: border-box;
    width: 0%;
    height: 8px;
    border-radius: 100px;
    background-image: linear-gradient(to right, rgb(16, 142, 233) 0%, rgb(135, 208, 104) 100%);
}

#percentage {
    font-family: 'Roboto-Regular';
    font-size: 16px;
    width: 2em;
    display: inline-block;
    color: white;
    text-align: center;
    margin-left: 0.5em;
}