.newValidatorBtn {
  width: 130px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}

.modifyTopUpBtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("../../../../../static/image/topup.png");
  background-size: 35px 35px;
  border: 0px;
}

.modifyBtnText {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 23px;
}

.modifyTopUpBtn:hover {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("../../../../../static/image/topup.png");
  background-color: #40a9ff;
  background-size: 35px 35px;
  border: 0px;
}

.itemTitle {
  vertical-align: middle;
}

:global {
  .spincont {
    .ant-spin-nested-loading > div > .ant-spin {
      top: 10%;
      position: absolute!important;
    }
    .ant-spin-blur::after {
      opacity: 0;
    }
  }
  .ant-popover-inner-content {
    color: #D3D4E8;
  }
  .ant-popover-inner {
    background-color: #2A2A3E;
  }
  .ant-popover-arrow {
    background-color: #303147;
  }
  .ant-popover-title {
    color: #fff;
    border-bottom: 0;
    background-color: #2A2A3E;;
  }
}