.root {
}

.termOfService {
    // height: 400px;
    margin: 40px 80px 10px 80px;
    background-color: #151624;
    padding: 40px;
}

.title {
    color: white;
    margin: 0px 0px 20px 0px;
}

.section {
    color: white;
    margin-bottom: 1em;
}

.checkBox {
    margin-left: 85px;
    padding-left: 40px;
}

.buttonParent {
    text-align: center;
}

.button {
    margin-top: 20px !important;
    min-width: 60px;
    color: white !important;
    padding: 0px 32px;
}