.root {
}

.termOfService {
    height: 400px;
    margin: 40px 80px 10px 80px;
    background-color: #151624;
    padding: 40px;
}

.title {
    color: white;
    margin: 0px 40px 20px 40px;
}

.section {
    color: white;
    margin: 0px 40px 10px 40px;
}

.checkBox {
    margin-left: 85px;
}

.buttonParent {
    text-align: center;
}

.button {
    margin: 10px 80px 10px 80px;
    width: 200px;
}