body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  // font-family: "Roboto";
  font-weight: bold;
  ul,li{
    list-style: none;
  }
  
  // base
@content-right-bg: #1A1B2C;
@com-modal-bg: #272840;
@modal-input-bg: #1F2034;
@com-white-color: #FFFFFF!important;
@modal-input-focus: #414EDD;
@button-blue-primary: linear-gradient(90deg,rgba(65,78,221,1) 0%,rgba(41,48,124,1) 100%);
@button-gray-cancel: linear-gradient(90deg,#4A4C72 0%,#3D3E5F 100%);
@button-blue-primary-hover: linear-gradient(90deg,#3D3E5F 0%,#4A4C72 100%);
@button-gray-cancel-hover: linear-gradient(90deg,#3D3E5F 0%,#4A4C72 100%);
  .ant-table-thead > tr > th{
    background: none;
  }
  .ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters::before{
    background: @content-right-bg;
  }
  .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover{
      background: @content-right-bg;
    }
  .ant-table-thead > tr > th{
    border: none;
  }
  .ant-table-tbody > tr > td{
    border: none;
  }
  .ant-table-tbody > tr{
    height:80px;
    background:rgba(31,32,52,1);
    border-radius:4px;
  }
  button.ant-btn.ant-btn-primary{
    font-weight: bold;
  }
  // button
  .ant-btn-primary{
    background: @button-blue-primary;
    border: none;
  }
  // cancel button
  .cancel{
    width: 150px;
    height:40px;
    background: @button-gray-cancel;
    border-radius:20px;
    border: none;
  }
  .cancel:hover, .cancel:focus{
    color: @com-white-color;
    background: @button-gray-cancel-hover;
  }
  .ant-btn-primary:hover, .ant-btn-primary:focus{
    color: @com-white-color;
    background: @button-blue-primary-hover;
  }
  // ant-modal-content
  .ant-modal-mask{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    
  }
  .ant-modal-content{
    width: 640px;
    border-radius: 6px;
    background: @com-modal-bg;
  }
  .ant-modal-header{
    background: @com-modal-bg;
    margin-right: 15px;
  }
  .ant-form-item-label > label{
    color: @com-white-color;
  }
  .ant-input-affix-wrapper{
    width:480px;
  }
  .ant-input{
    width:480px;
    height:40px;
    border-radius:20px;
    border: none;
    font-size: 16px;
    color: @com-white-color;
    background: @modal-input-bg;
  }
  .ant-input-number{
    color: @com-white-color;
    background: @modal-input-bg;
  }
  .ant-input-number-handler-wrap{

  }
  .ant-radio-button-wrapper{
    height: 50px;
    color: @com-white-color;
    background: @modal-input-bg;
  }
  .ant-input[disabled]{
    color: @com-white-color;
    background: @modal-input-bg;
    opacity: .5;
  }
  .ant-input:focus{
    border: 2px solid @modal-input-focus!important;
  }
  .ant-modal-header{
    border: none;
    padding: 48px 0!important;
  }
  .ant-modal-title{
    color: @com-white-color;
    font-size:24px;
    text-align: center;
    font-weight:bold;
  }
  .ant-modal-footer{
    padding: 40px 0 52px 0!important;
    text-align: center!important;
    border-top: none!important;
    button{
      width:150px;
      height:40px;
      border-radius:20px;
      margin: 0 10px;
      font-size: 18px;
      font-weight: Bold;
      color: @com-white-color;
    }
    .ant-btn{
      width: 150px;
      height:40px;
      background: @button-gray-cancel;
      border-radius:20px;
      border: none;
    }
    .ant-btn:hover, .ant-btn:focus{
      color: @com-white-color;
      background: @button-gray-cancel-hover;
    }
    .ant-tabs-bar{
      border: none;
    }
    .ant-tabs-nav .ant-tabs-tab{
      color: @com-white-color;
      opacity:0.3;
    }
    .ant-tabs-nav .ant-tabs-tab-active{
      color: @com-white-color;
    }
    .ant-tabs-nav .ant-tabs-tab:active{
      color: @com-white-color;
      opacity:1;
    }
  }
}
.ant-table{
  color: #ffffff!important;
}
.ant-tabs-bar{
  border: none;
}
.ant-table-thead > tr{
  height: 110px;
  background: @content-right-bg!important;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  font-size: 16px;
}
body .ant-table-thead > tr > th{
  font-weight: bold;
  font-size: 20px;
}
body .ant-table-tbody > tr{
  border-radius: 8px;
  border-bottom: 10px solid @content-right-bg;
}
.container .content{
  padding: 0 20px 20px!important;
}
.ant-input-affix-wrapper .ant-input-prefix :not(.anticon), .ant-input-affix-wrapper .ant-input-suffix :not(.anticon){
  color: #fff;
}
.ant-modal-body{
  p{
    color: #FFF;
  }
}
.ant-tabs-bar{
  border: none!important;
}
.ant-tabs-nav .ant-tabs-tab-active{
  color: #FFF;
}
.ant-tabs-nav .ant-tabs-tab{
  color:rgba(255,255,255,0.3);
}
.ant-card{
  border: none;
}
body .ant-table-tbody > tr > td:nth-child(1){
  padding-left: 40px;
}