.header{
    background-color: #131740;
    vertical-align: -webkit-baseline-middle;
    font-size: 1.5rem;
    color: #fff;
    .header-top{
        height: 120px;
        line-height: 120px;

        .title {
          text-align: left;
          padding-left: 40px;
        }
        .user {
          text-align: right;
          padding-right: 40px;
          color: #fff;
        }
    }
}
